<div class="container">
    <div class="row mx-auto text-center mt-5 border rounded-5">
      <div class="col-12">
        <div class="mb-3 mt-2 text-success fw-bold">SIGN UP</div><hr>
        <input class="form-control mt-2" placeholder="First name"/><br />
        <input class="form-control mt-2" placeholder="Last name"/><br />
        <input class="form-control mt-2" placeholder="E-mail"/><br />
        <button class="mb-3 w-100 btn btn-success">Done</button>
        <!-- <div class="bg-danger">{{ name }}</div>
        <div>{{ age }}</div>
        <div>{{ school }}</div> -->
      </div>
    </div>
  </div>